
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script type="text/javascript" src="/javascripts/jquery-2.0.3.min.js"></script>   

    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/javascripts/bootstrap.min.js"></script>
    <script type="text/javascript" src="/javascripts/checkout.js"></script>   
    <script type="text/javascript" src="/javascripts/jquery.payment.js"></script>       
</body>
</html>