<!DOCTYPE html>
<html lang="en">
<head>
    <title><%= title %></title>         
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Stripe --> 
    <script type="text/javascript" src="https://js.stripe.com/v2/"></script>

    <!-- Bootstrap -->
    <link href="stylesheets/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,300,400,600,700,800" 
    rel="stylesheet" type="text/css">    
    <link href="/stylesheets/checkout.css" rel="stylesheet" media="screen">
    <link href="/stylesheets/style.css" rel="stylesheet" media="screen">


    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="../../assets/js/html5shiv.js"></script>
    <script src="../../assets/js/respond.min.js"></script>
    <![endif]-->
</head>
<body>   

