<% include /layouts/header.ejs %>
<% 
	var features = [{
		"title" : "The Complete Tea Experience",
		"desc" : "Three Leaf Tea is a subscription tea service that delivers you a variety of great-tasting teas with all the necessary equipment & brewing instructions, every single month.",         
		"image_url" : "images/grain-final.png"
	}, 
	{
		"title" : "Three Loose Leaf Teas",  
		"desc" : "Enjoy a hand-selected variety of the finest loose leaf teas. Every refill comes with three varieties and makes about thirty cups.",
		"image_url" : "images/jars-final.png"          
	},                 
	{
		"title" : "Delivered to Your Doorstep",
		"desc" : "Receive a new selection of teas at the beginning of every month. Shipping is free and you can unsubscribe anytime.",
		"image_url" : "images/package-final.png"
	}];	
%>

<% var side = true %>



<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
	<div class="container">
		<div class="col-xs-12 col-sm-5">
			<a href="/"><img src="/images/threeleaf-header.png" class="header-img img-responsive" alt="Three Leaf Tea Header"></a>
		</div>
		<div class="col-sm-7">
			<div class="collapse navbar-collapse navbar-ex1-collapse">
				<ul class="nav navbar-nav">
					<li><a href="#features" class="smoothScroll">features</a></li>                      
					<li><a href="#pricing" class="smoothScroll">pricing</a></li>  
					<li><a href="#customers" class="smoothScroll">customers</a></li>                    
					<li><a href="#faq" class="smoothScroll">faq</a></li>              
					<li id="subscribe-btn"><a href='/checkout'><button class="btn btn-success btn-small">Subscribe Now</button></a></li>                    
				</ul>	
			</div>
		</div>			
	</div>

</nav>

<div class="container home-container">
		<div class="row">
			<div class="col-md-offset-1">
				<img src="/images/banner-transparent.png" class="img-responsive" alt="Three Leaf Tea Header">
				
				
				<hr>
				<!-- Features -->
				<div id="features">				
					<% for(var i=0; i<features.length; i++) { 
						if(side) {%>
							<div class="row feature">          
					          <div class="col-md-5">
					            <img src= <%= features[i].image_url %> class="img-responsive">
					          </div>
					          <div class="copy col-md-5">
					            <div class="title">
					              <h1><%= features[i].title %></h1>
					            </div>              
					            <p><%= features[i].desc %></p>
					          </div>
					        </div>  
					    	<% side = false %> 
					    <%} else {%>      
					        <div class="row feature">                    
					          <div class="copy col-md-5">
					            <div class="title">
					              <h1><%= features[i].title %></h1>
					            </div>              
					            <p><%= features[i].desc %></p>
					          </div>
					          <div class="col-md-5">
					            <img src= <%= features[i].image_url %> class="img-responsive">
					          </div>
					        </div>  
					    	<% side = true %>    
					    <%}%> <!-- end of else -->
		        	<%}%> <!-- end of features.length for-loop -->    
				</div>

	        	<hr>
				<!-- Pricing -->
				<div class="row">
					<div class="pricing-content" id="pricing">
						<div class="col-md-12"><h1>How Much Does it Cost?</h1></div>
						<div class="pricing-img col-md-6 col-md-offset-1">
							<img src="images/pricing-lato-cropped.png" class="img-responsive"/>
						</div> <!-- pricing-img -->
						<div class="pricing-text col-md-5">
							<h2>Brewing Set</h2>
							<ul>
								<li>Glass mug with infuser & lid</li>
								<li>Three tea jars</li>
								<li>Teaspoon</li>
								<li>Wooden tray</li>
							</ul>
							<br/>
							<h2>Monthly Refills</h2>
							<ul>
								<li>Three varieties of tea</li>
								<li>Steeping instructions & suggestions</li>
							</ul>
						</div> <!-- pricing-text -->						
					</div> <!-- pricing-content -->					
				</div>
				<div class="row checkout-btn">
					<a href="/checkout">
            			<button class="btn btn-success btn-lg">  Subscribe Now  </button>
          			</a>
				</div>  <!-- end row checkout-btn -->

				<hr>

				<div class="row customer-testimonials" id="customers">
					<div class="col-md-12 title"><h1>What our customers have to say</h1></div>
					<div class="col-md-5">
						<p><i>“I love Three Leaf as a simple and high-quality tea experience. The entire set is a mini-experience and gives me the calm and energy I need in the middle of the day to tackle the tasks at hand.”<i></p>
						<br><p>-Ricky (Palo Alto, California)</p>
					</div>
					<div class="col-md-5 col-md-offset-1">
						<p><i>“I love tea and have a good understanding of which types I enjoy (mainly oolong and green), but I don't know too much about which varieties are good or where to buy them. Purchasing a tea set from Three Leaf solved both of my problems -- I was easily able to get a variety of high quality tea with one click from my bedroom instead of having to research and visit boutique tea stores.”<i></p>
						<br><p>- Adam (San Francisco, California)</p>
					</div>
				</div> <!-- end customer-testimonials -->

				<hr>

				<div class="row faq" id="faq">
					<div class="col-md-12 title"><h1>FAQ</h1></div>
					<div class="col-md-10">
						<ul>
							<li><span class="question">What types of tea am I getting?</span></li>
							<li>Each month you'll receive a combination of three different types of loose leaf tea. The common types that we've chosen are Black, Green, Oolong, and Herbal (although Herbal is not techincally a tea, we wouldn't want you to miss out on a good peppermint tea). We are constantly searching for the best teas to add to our collection. </li>
							<br>
							<br>

							<li><span class="question">Can I buy just the refills?</span></li>
							<li>Absolutely! Just select the "Tea refills only" option at checkout.</li>
							<br>
							<br>

							<li><span class="question">How do I cancel my subscription?</span></li>
							<li>You can cancel your Three Leaf subscription anytime. Just send us an email at <a href="mailto:threeleaftea.com@gmail.com">threeleaftea.com@gmail.com</a>.</li>
							<br>
							<br>

							<li><span class="question">Don't see your question?</span></li>

							<li>Send us an email at <a href="mailto:threeleaftea.com@gmail.com">threeleaftea.com@gmail.com</a>.</li>
						</ul>
					</div>				
				
			</div> <!-- end of row -->
		</div>	
</div>



<% include /layouts/footer.ejs %>