.checkout-container {
  background-color: #FFFFFF;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  border-radius: 16px;
  max-width: 650px;
  padding: 3% 3% 3% 3%;
}
.checkout-container .header-img {
  margin-bottom: 5%;
}
.checkout-section {
  margin-top: 5%;
}
.checkout-section .bill {
  margin-top: 1%;
  margin-bottom: 2%;
  font-weight: 400;
  font-size: 1.4em;
}
.checkout-section .form-group input[type="text"] {
  font-size: 1.4em;
}
button {
  margin-right: 15px;
}
