/* Bootstrap Resets*/ 

hr {
	margin: 0;
}

.form-group {
	margin-bottom: 3%;
}


/* Main Styles */
body {
	padding: 4%;
	font-family: 'Lato', "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 10px;
	background-image:url('/images/sos.png');
  	background-repeat:repeat;
}

h1, h2, h3, h4, h5, h6, p, li, .checkout-container label {
	font-family: 'Lato', "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-weight: 300;
	color:#35180d;
}


	h1 {font-size:2.6em}  /* displayed at 26px */
	h2 {font-size:2.0em}  /* displayed at 20px */
	h3 {font-size:1.5em}  /* displayed at 15px */
	h4 {font-size:1.2em}  /* displayed at 12px */
	label {font-size:1.4em} /* displayed at 12px */
	p {font-size:1.8em} /* displayed at 14px */
	li {font-size:1.8em} /* displayed at 18px */

a {
	color: #00B7FF;
}


/* Homepage Styles */

.navbar-nav {
	margin-top:2.5%;
}

.nav #subscribe-btn {
  margin-top: -2.1%;
}

.home-container {
	background-color: #FFFFFF;	
	padding-top: 60px;
}

.feature {
	margin: 5% 0;
	.copy {
		margin-top: 4%;
		p {
			line-height: 30px;
			text-align: justify;
		}
	}
}

.pricing-content {
	margin-top: 5%;
	.pricing-text {
		margin-top: 3%;
		h2 {
			text-transform: uppercase;
		}	
	}
}

.checkout-btn {
	text-align: center;
	margin: 5% 0;
	.btn-lg {
		font-size: 2.0em;
		padding: 1% 3%;
	}
}


.customer-testimonials {
	margin: 5% 0;
	.title {
		margin-bottom:3%;
	}
}


.faq {
	margin: 5% 0;
	.title {
		margin-bottom:3%;
	}
	ul {
		margin: 0;
		padding: 0;
		list-style: none;
		font-size: .8em;
	}
}


.question {
	
	font-size: 1.2em;

}




